<mat-toolbar color="primary">
  <span>MyProgress</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/auth/login" mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Log In</span>
    </a>
    <a routerLink="/auth/signup" mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Sign Up</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>