:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a[mat-menu-item]:hover {
  text-decoration: none;
}

mat-toolbar {
  min-height: 4rem;

  a {
    color: white;
    text-decoration: none;
  }
}

.page-content {
  flex: 1;
  overflow: hidden;
}
