@import "../sizes.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a[mat-menu-item]:hover {
  text-decoration: none;
}

mat-toolbar {
  min-height: 4rem;

  a {
    color: white;
    text-decoration: none;
  }
}

.page-content {
  flex: 1;
  overflow: hidden;
}

.menu .username {
  display: none;
}

@media screen and (min-width: $lg) {
  .menu {
    display: flex;
    align-items: center;
    .username {
      display: block;
      font-weight: 100;
      font-size: 1rem;
      margin-inline-end: 0.5rem;
    }
  }
}
