<mat-toolbar color="primary">
  <span>MyProgress</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <a routerLink="/auth/login">Log In</a>
    </button>
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <a routerLink="/auth/signup">Sign Up</a>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>